conveyancing is the transfer of legal title of real property from one person to another, or the granting of an encumbrance such as a mortgage or alien, it may also be defined as the art or science of effecting the transfer of legal property or modifying interest in relation to property by means of a (written) document.
 As such the three critical ingredients are thus the process, the legal title and the transfer or modification.
GeoParcel offers advisory on disposition of interests of land. This happens in 2 stages namely<br><br>

<ul>
    <li>
        Contract for sale
    </li>
    <li>
        Conveyance
    </li>
</ul>
<br>
    <section>
        <h3 style="font-size:25px">Under contracts of sale</h3>
        <br><br>


        <ul >
            <li>
                We do initial client interview prior to formation of an enforceable contract with the liaising of an advocate and,
            </li>
            <li>
                Investigation of title, this is so that an advocate determines whether the client is in for a good market price.
            </li>
            <li>
                Searches,
            </li>
            <li>
                Pre-contract enquiries
            </li>
            <li>
                Requisitions&nbsp;
            </li>
            <li>
                land rent clearance certificate
            </li>
            <li>
                consents
            </li>
            <li>
                execution and attestation
            </li>
            <li>
                verification
            </li>
        </ul>

        <ul >
            <li>
                We do initial client interview prior to formation of an enforceable contract with the liaising of an advocate and,
            </li>
            <li>
                Investigation of title, this is so that an advocate determines whether the client is in for a good market price.
            </li>
            <li>
                Searches,
            </li>
            <li>
                Pre-contract enquiries
            </li>
            <li>
                Requisitions&nbsp;
            </li>
            <li>
                land rent clearance certificate
            </li>
            <li>
                consents
            </li>
            <li>
                execution and attestation
            </li>
            <li>
                verification
            </li>
        </ul><br>





        <p>
            Conveyancing is done, this is complete only once registration is affected, here we
        </p>

        <ul>
            <li>
                filling if the valuation forms
            </li>
            <li>
                registering the documents
            </li>
            <li>
                documents are taken for auditing by government auditor
            </li>
            <li>
                matching the deed and parcel files
            </li>
            <li>
                registration-from verification to inspection and lastly entry
            </li>
            <li>
                documents are submitted to the registrar for rights registry.
            </li>
        </ul>
        <hr>
    </section>

        <div style="clear:both !important;"></div>
        <!--  -->
        <h3>Services we offer include.</h3>
        <br>

        <p>
            GeoParcel is one organization which has a wide rangein aspects of land Law and Property transactions in Kenya. Our practice in property law matters entails assisting in all aspects of land and property acquisition, management and disposal. In that regard, the various services we undertake for our clients include:
        </p>
        <br><br>
        <ul>
            <li>
                Drawing and negotiating property-related contracts and transfers;
            </li>
            <li>
                Drafting, executing and lodging leases, easements, licenses and Rights of Access;
            </li>
            <li>
                Drawing charges, discharges of charges, mortgages and reconveyances;
            </li>
            <li>
                Assisting in sub-divisions, changes of user, extension of Government Leases, Rectification of Titles;
            </li>
            <li>
                Obtaining of the necessary consents for land transactions and development;
            </li>
            <li>
                Paying of&nbsp;land rent and rates on behalf of clients and obtaining clearances;
            </li>
            <li>
                Undertaking searches and due diligence on property and land in Kenya and elsewhere around the world
            </li>
            <li>
                Applying for and lodging caveats, cautions and prohibitions to protect client&rsquo;s interests;
            </li>
            <li>
                Drawing and advising on Powers of Attorney;
            </li>
            <li>
                Forming Trusts and drawing trust deeds relating to land and property;
            </li>
            <li>
                Assisting in probate and administration of estates of deceased persons;
            </li>
            <li>
                Advising clients generally on all aspects of land and property law
            </li>
        </ul>

