.elementor-5347 .elementor-element.elementor-element-61da595>.elementor-container {
    max-width: 1340px;
}
.elementor-5347 .elementor-element.elementor-element-61da595:not(.elementor-motion-effects-element-type-background), .elementor-5347 .elementor-element.elementor-element-61da595>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #f4f4f4;
}
.elementor-5347 .elementor-element.elementor-element-61da595 {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 120px 0;
}
.elementor-5347 .elementor-element.elementor-element-61da595>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s;
}
.elementor-5347 .elementor-element.elementor-element-1c7d9be>.elementor-container {
    max-width: 1340px;
}
.elementor-5347 .elementor-element.elementor-element-9494f75 .elementor-heading-title {
    color: #451812;
    font-size: 18px;
    line-height: 1.3em;
}
.elementor-5347 .elementor-element.elementor-element-9494f75>.elementor-widget-container {
    margin: 0 0 5px;
}
.elementor-5347 .elementor-element.elementor-element-89d84a9>.elementor-container {
    max-width: 1340px;
}
.elementor-5347 .elementor-element.elementor-element-89d84a9 {
    margin-top: 0;
    margin-bottom: 60px;
}
.elementor-5347 .elementor-element.elementor-element-e07e888 .elementor-tab-title {
    border-width: 2px;
    border-color: #ececec;
    padding: 30px;
}
.elementor-5347 .elementor-element.elementor-element-e07e888 .elementor-tab-content {
    border-width: 2px;
    border-bottom-color: #ececec;
    padding: 0 30px 30px;
}
.elementor-5347 .elementor-element.elementor-element-e07e888 .elementor-toggle-item:not(:last-child) {
    margin-bottom: 0;
}
.elementor-5347 .elementor-element.elementor-element-e07e888 .elementor-toggle-title, .elementor-5347 .elementor-element.elementor-element-e07e888 .elementor-toggle-icon {
    color: #5e3550;
}
.elementor-5347 .elementor-element.elementor-element-e07e888 .elementor-toggle-icon svg {
    fill: #5e3550;
}
.elementor-5347 .elementor-element.elementor-element-e07e888 .elementor-tab-title.elementor-active a, .elementor-5347 .elementor-element.elementor-element-e07e888 .elementor-tab-title.elementor-active .elementor-toggle-icon {
    color: #451812;
}
.elementor-5347 .elementor-element.elementor-element-e07e888 .elementor-toggle-title {
    font-weight: 600;
}
.elementor-5347 .elementor-element.elementor-element-e07e888 .elementor-tab-title .elementor-toggle-icon i:before {
    color: #b0b0b0;
}
.elementor-5347 .elementor-element.elementor-element-e07e888 .elementor-tab-title .elementor-toggle-icon svg {
    fill: #b0b0b0;
}
.elementor-5347 .elementor-element.elementor-element-e07e888 .elementor-tab-title.elementor-active .elementor-toggle-icon i:before {
    color: #451812;
}
.elementor-5347 .elementor-element.elementor-element-e07e888 .elementor-tab-title.elementor-active .elementor-toggle-icon svg {
    fill: #451812;
}
.elementor-5347 .elementor-element.elementor-element-e07e888>.elementor-widget-container {
    background-color: #fff;
    border-style: solid;
    border-width: 2px 2px 0;
    border-color: #ececec;
}
.elementor-5347 .elementor-element.elementor-element-f5f0eab .elementor-tab-title {
    border-width: 2px;
    border-color: #ececec;
    padding: 30px;
}
.elementor-5347 .elementor-element.elementor-element-f5f0eab .elementor-tab-content {
    border-width: 2px;
    border-bottom-color: #ececec;
    padding: 0 30px 30px;
}
.elementor-5347 .elementor-element.elementor-element-f5f0eab .elementor-toggle-item:not(:last-child) {
    margin-bottom: 0;
}
.elementor-5347 .elementor-element.elementor-element-f5f0eab .elementor-toggle-title, .elementor-5347 .elementor-element.elementor-element-f5f0eab .elementor-toggle-icon {
    color: #5e3550;
}
.elementor-5347 .elementor-element.elementor-element-f5f0eab .elementor-toggle-icon svg {
    fill: #5e3550;
}
.elementor-5347 .elementor-element.elementor-element-f5f0eab .elementor-tab-title.elementor-active a, .elementor-5347 .elementor-element.elementor-element-f5f0eab .elementor-tab-title.elementor-active .elementor-toggle-icon {
    color: #451812;
}
.elementor-5347 .elementor-element.elementor-element-f5f0eab .elementor-toggle-title {
    font-weight: 600;
}
.elementor-5347 .elementor-element.elementor-element-f5f0eab .elementor-tab-title .elementor-toggle-icon i:before {
    color: #b0b0b0;
}
.elementor-5347 .elementor-element.elementor-element-f5f0eab .elementor-tab-title .elementor-toggle-icon svg {
    fill: #b0b0b0;
}
.elementor-5347 .elementor-element.elementor-element-f5f0eab .elementor-tab-title.elementor-active .elementor-toggle-icon i:before {
    color: #451812;
}
.elementor-5347 .elementor-element.elementor-element-f5f0eab .elementor-tab-title.elementor-active .elementor-toggle-icon svg {
    fill: #451812;
}
.elementor-5347 .elementor-element.elementor-element-f5f0eab>.elementor-widget-container {
    background-color: #fff;
    border-style: solid;
    border-width: 2px 2px 0;
    border-color: #ececec;
}
.elementor-5347 .elementor-element.elementor-element-2354272>.elementor-container {
    max-width: 1340px;
}
.elementor-5347 .elementor-element.elementor-element-1d1f076 .elementor-heading-title {
    color: #451812;
    font-size: 18px;
    line-height: 1.3em;
}
.elementor-5347 .elementor-element.elementor-element-1d1f076>.elementor-widget-container {
    margin: 0 0 5px;
}
.elementor-5347 .elementor-element.elementor-element-4a074d5>.elementor-container {
    max-width: 1340px;
}
.elementor-5347 .elementor-element.elementor-element-4a074d5 {
    margin-top: 0;
    margin-bottom: 60px;
}
.elementor-5347 .elementor-element.elementor-element-fbf0444 .elementor-tab-title {
    border-width: 2px;
    border-color: #ececec;
    padding: 30px;
}
.elementor-5347 .elementor-element.elementor-element-fbf0444 .elementor-tab-content {
    border-width: 2px;
    border-bottom-color: #ececec;
    padding: 0 30px 30px;
}
.elementor-5347 .elementor-element.elementor-element-fbf0444 .elementor-toggle-item:not(:last-child) {
    margin-bottom: 0;
}
.elementor-5347 .elementor-element.elementor-element-fbf0444 .elementor-toggle-title, .elementor-5347 .elementor-element.elementor-element-fbf0444 .elementor-toggle-icon {
    color: #5e3550;
}
.elementor-5347 .elementor-element.elementor-element-fbf0444 .elementor-toggle-icon svg {
    fill: #5e3550;
}
.elementor-5347 .elementor-element.elementor-element-fbf0444 .elementor-tab-title.elementor-active a, .elementor-5347 .elementor-element.elementor-element-fbf0444 .elementor-tab-title.elementor-active .elementor-toggle-icon {
    color: #451812;
}
.elementor-5347 .elementor-element.elementor-element-fbf0444 .elementor-toggle-title {
    font-weight: 600;
}
.elementor-5347 .elementor-element.elementor-element-fbf0444 .elementor-tab-title .elementor-toggle-icon i:before {
    color: #b0b0b0;
}
.elementor-5347 .elementor-element.elementor-element-fbf0444 .elementor-tab-title .elementor-toggle-icon svg {
    fill: #b0b0b0;
}
.elementor-5347 .elementor-element.elementor-element-fbf0444 .elementor-tab-title.elementor-active .elementor-toggle-icon i:before {
    color: #451812;
}
.elementor-5347 .elementor-element.elementor-element-fbf0444 .elementor-tab-title.elementor-active .elementor-toggle-icon svg {
    fill: #451812;
}
.elementor-5347 .elementor-element.elementor-element-fbf0444>.elementor-widget-container {
    background-color: #fff;
    border-style: solid;
    border-width: 2px 2px 0;
    border-color: #ececec;
}
.elementor-5347 .elementor-element.elementor-element-3fbe959 .elementor-tab-title {
    border-width: 2px;
    border-color: #ececec;
    padding: 30px;
}
.elementor-5347 .elementor-element.elementor-element-3fbe959 .elementor-tab-content {
    border-width: 2px;
    border-bottom-color: #ececec;
    padding: 0 30px 30px;
}
.elementor-5347 .elementor-element.elementor-element-3fbe959 .elementor-toggle-item:not(:last-child) {
    margin-bottom: 0;
}
.elementor-5347 .elementor-element.elementor-element-3fbe959 .elementor-toggle-title, .elementor-5347 .elementor-element.elementor-element-3fbe959 .elementor-toggle-icon {
    color: #5e3550;
}
.elementor-5347 .elementor-element.elementor-element-3fbe959 .elementor-toggle-icon svg {
    fill: #5e3550;
}
.elementor-5347 .elementor-element.elementor-element-3fbe959 .elementor-tab-title.elementor-active a, .elementor-5347 .elementor-element.elementor-element-3fbe959 .elementor-tab-title.elementor-active .elementor-toggle-icon {
    color: #451812;
}
.elementor-5347 .elementor-element.elementor-element-3fbe959 .elementor-toggle-title {
    font-weight: 600;
}
.elementor-5347 .elementor-element.elementor-element-3fbe959 .elementor-tab-title .elementor-toggle-icon i:before {
    color: #b0b0b0;
}
.elementor-5347 .elementor-element.elementor-element-3fbe959 .elementor-tab-title .elementor-toggle-icon svg {
    fill: #b0b0b0;
}
.elementor-5347 .elementor-element.elementor-element-3fbe959 .elementor-tab-title.elementor-active .elementor-toggle-icon i:before {
    color: #451812;
}
.elementor-5347 .elementor-element.elementor-element-3fbe959 .elementor-tab-title.elementor-active .elementor-toggle-icon svg {
    fill: #451812;
}
.elementor-5347 .elementor-element.elementor-element-3fbe959>.elementor-widget-container {
    background-color: #fff;
    border-style: solid;
    border-width: 2px 2px 0;
    border-color: #ececec;
}
.elementor-5347 .elementor-element.elementor-element-600f32c>.elementor-container {
    max-width: 1320px;
}
.elementor-5347 .elementor-element.elementor-element-67f87a1 {
    text-align: center;
}
.elementor-5347 .elementor-element.elementor-element-67f87a1 .elementor-heading-title {
    font-size: 22px;
    font-weight: 500;
}
.elementor-5347 .elementor-element.elementor-element-dc70ada .elementor-button {
    fill: #fff;
    color: #fff;
    background-color: #5e3550;
    border-radius: 0;
}
.elementor-5347 .elementor-element.elementor-element-dc70ada .elementor-button:hover, .elementor-5347 .elementor-element.elementor-element-dc70ada .elementor-button:focus {
    color: #fff;
    background-color: #451812;
}
.elementor-5347 .elementor-element.elementor-element-dc70ada .elementor-button:hover svg, .elementor-5347 .elementor-element.elementor-element-dc70ada .elementor-button:focus svg {
    fill: #fff;
}
.elementor-5347 .elementor-element.elementor-element-dc70ada>.elementor-widget-container {
    margin: 10px 0 0;
}
.elementor-5347 .elementor-element.elementor-element-bdf6d13 {
    text-align: center;
}
.elementor-5347 .elementor-element.elementor-element-bdf6d13 .elementor-heading-title {
    font-size: 16px;
}
.elementor-5347 .elementor-element.elementor-element-bdf6d13>.elementor-widget-container {
    margin: 0;
}
@media(min-width:768px) {
    .elementor-5347 .elementor-element.elementor-element-c8409db {
    width: 28.407%}
.elementor-5347 .elementor-element.elementor-element-cf086ab {
    width: 42.925%}
.elementor-5347 .elementor-element.elementor-element-15a73ba {
    width: 28.332%}
}@media(max-width:767px) {
    .elementor-5347 .elementor-element.elementor-element-e07e888 .elementor-tab-title {
    padding: 20px;
}
.elementor-5347 .elementor-element.elementor-element-e07e888 .elementor-tab-content {
    padding: 0 20px 20px;
}
.elementor-5347 .elementor-element.elementor-element-f5f0eab .elementor-tab-title {
    padding: 20px;
}
.elementor-5347 .elementor-element.elementor-element-f5f0eab .elementor-tab-content {
    padding: 0 20px 20px;
}
.elementor-5347 .elementor-element.elementor-element-fbf0444 .elementor-tab-title {
    padding: 20px;
}
.elementor-5347 .elementor-element.elementor-element-fbf0444 .elementor-tab-content {
    padding: 0 20px 20px;
}
.elementor-5347 .elementor-element.elementor-element-3fbe959 .elementor-tab-title {
    padding: 20px;
}
.elementor-5347 .elementor-element.elementor-element-3fbe959 .elementor-tab-content {
    padding: 0 20px 20px;
}
}
