#mainHeading{
    height:90px;
}
.menu-anchor{
    color:#ffffff !important;
}
.gallery-img {
    float:left !important;
    padding:10px;
}

.nav>li>a, .header_icon a {
    font-family: Jost;
    font-weight: 500;
    font-style: normal;
    color: #451812;
    font-size: 15px;
    font-display: swap;
}
.nav>li>a, .header_icon a{
    font-family: Jost;
    font-weight: 600;
    font-style: normal;
    color: #451812;
    font-size: 15px;
    font-display: swap;
}
@media(max-width:1424px)
{
    .elementor-icon-box-title span
    {
        font-size: 15px;
    }
    .elementor-icon-box-description{
        font-size: 14px !important;
    }

    #mainHeading{
        height: 80px;
    }
}

@media(max-width:1024px)
{
    .elementor-icon-box-title span
    {
        font-size: 13px;
    }
    .elementor-icon-box-description{
        font-size: 12px !important;
    }
    .elementor-4079 .elementor-element.elementor-element-c3bcf4f:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap, .elementor-4079 .elementor-element.elementor-element-c3bcf4f>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-image:none
    }

    .arrow-right-right {
        display: none;
    }
    .arrow-left-left {
        display: none;
    }
    .menu-anchor{
        color:#034567
    }
}


